body {
    margin: 0;
    font-family: "Poppins", "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5e6282;
    background-color: #fffefe;
    background-size: cover;
    background-position: center;
}

/* ------------------------------
      Header
------------------------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 10px;
}

.logo img{
    max-width: 100%;
    width: 150px;
    height: auto;
}

.navlist li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    position: relative;
}

.navlist li a:hover {
    color: #f1a501;
}

 li,
a,
button {
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    color: #212832;
}

/* ------------------------------
      Hero Section
------------------------------- */

.left-container {
    float: left;
    width: 50%;
}

.left-content {
    margin-left: 130px;
    margin-top: 90px;
}

.left-content h4 {
    color: #df6951;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 20px;
}

.left-content h1{
    font-size: 4.623663rem;
    font-weight: 700;
    color: #181e4b;
    margin-bottom: 5px;
    line-height: 1.1;
    margin-top: 0;
}

.left-content p {
    margin-top: 1;
    font-weight: 500;
    margin-bottom: 1.8rem;
}

.contact-btn {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #f1a501;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-btn:hover{
    background: #ca9013;
    color: #ffffff;
}

.booking-btn{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #df6951;
    color: #fff;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}

.booking-btn:hover{
    background: #ad523f;
    color: #ffffff;
}

/* ------------------------------
      Services Section
------------------------------- */

.category-title {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 150px;
}

.category-title h5 {
    color: #5e6282;
    font-size: 1.125rem;
    margin-bottom: 0;
}

.category-title h3 {
    margin-top: 0;
    font-size: 3.24rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #14183e;
}

.services-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 100px;
    padding-top: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2.5rem;
    text-align: center;
    background-color: #fffefe;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.5rem;
    margin-right: 35px;
}

.card h4 {
    margin-bottom: 1rem;
    font-size: 1.26rem;
    color: #14183e;
}

.card p {
    font-weight: 500;
}

/* ------------------------------
      Destination cards
------------------------------- */

.destination-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 22%;
    padding: 2.5rem;
    text-align: center;
    background-color: #fffefe;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.5rem;
    margin-right: 35px;
}

.destination-card img {
    width: 100%;
    border-top-left-radius: calc(1.5rem - 1px);
    border-top-right-radius: calc(1.5rem - 1px);
    vertical-align: middle;
}

.destination-card h4 {
    color: #555874;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 15px;
}

.destination-card h4 span {
    font-weight: 500;
    font-size: 1rem;
    float: right;
}

.destination-card p{
    line-height: 1.5;
    letter-spacing: 1.5;
    color: #262a38;
}

/* ------------------------------
      Booking Section
------------------------------- */

.left-container-booking {
    float: left;
    width: 50%;
}

.right-container-booking {
    float: right;
    width: 50%;
}

.left-content-booking {
    margin-left: 130px;
    margin-top: 90px;
}

.left-content-booking h5 {
    color: #5e6282;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

.left-content-booking h3 {
    font-size: 3.24732rem;
    font-weight: 700;
    color: #181e4b;
    margin-bottom: 5px;
    line-height: 1.1;
    margin-top: 0;
    text-transform: capitalize;
}

.booking-title {
    display: flex;
}

.booking-icon {
    border-radius: 13px;
    margin-right: 1.8rem;
    padding: 1rem;
    height: 24px;
    margin-top: 30px;
}

.icon-1 {
    background-color: #f1a601;
}

.icon-2 {
    background-color: #df6951;
}

.icon-3 {
    background-color: #006380;
}

.booking-icon img {
    vertical-align: middle;
}

.booking-icon-title h5 {
    color: #5e6282;
    font-weight: 700;
    font-size: 1rem;
}

.booking-icon-title p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.booking-card {
    position: relative;
    top: 150px;
    left: 20%;
    max-width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1rem;
    background-color: #fffefe;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.5rem;
}

.booking-card .booking-img {
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
    vertical-align: middle;
}

.booking-card h5 {
    font-weight: 500;
    font-size: 1.125rem;
    color: #14183e;
    margin-bottom: 5px;
}

.booking-card p {
    margin-top: 0;
    font-weight: 500;
    font-size: 0.88889rem;
    margin-bottom: 1rem;
}

.social-icon {
    display: flex;
    margin-bottom: 1.8rem;
}

.icon-item {
    margin-right: 1.8rem;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #080809;
    background-color: #eeeeee;
    transition: all 0.2s ease-in-out;
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    font-size: 0.875rem;
}

.booking-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-booking-card-footer {
    margin-top: -0.25rem;
}

.left-booking-card-footer img {
    margin-right: 1rem;
    vertical-align: middle;
}

.left-booking-card-footer span {
    font-weight: 500;
    font-size: 0.88889rem;
}

/* ------------------------------
      Contact
------------------------------- */
.contact {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.contact-container {
    background-color: #FFC72C;
    border-radius: 129px 20px 20px 20px;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    position: relative;
}

 .share-arrow {
    margin-top: 1rem;
    transform: translateX(-50%) translateY(-50%);
    left: 100%;
    top: 0;
    position: absolute;
    text-align: center;
}

.share-arrow img {
    max-width: 70x;
    vertical-align: middle;
    text-align: center;
}

.contact-text {
    width: 66.6666%;
    margin-right: auto;
    margin-left: auto;
}

.contact-text h2 {
    color: #5e6282;
    line-height: 1.7;
    margin-bottom: 4rem;
    font-size: 1.6018;
}

.contact-text form {
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.form-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group-icon {
    position: relative;
}

.contact-text form input {
    background-color: #ffffff;
    border-radius: 10px;
    color: #39425d;
    padding: 1rem 1rem 1rem 2.7rem;
    font-size: 14px;
    border: none;
}

.form-control {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    margin: 8px; 
}

.input-box-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    color: #212529;
    transform: translateY(-50);
    vertical-align: middle;
    text-align: center;
    margin-top: -10px;
}

.subscribe-btn {
    width: auto;
}

.btn-sub {
    background-image: linear-gradient(to bottom, #ff946d, #ff7d68);
    border: none;
    border-radius: 0.625rem;
    padding: 1rem 2.5rem;
    font-size: 0.88889rem;
    color: #fffefe;
    background: #cc553d;
    /* /* text-transform: none; */
     cursor: pointer; 
}

.btn-sub:hover{
    background: #df2521;
    color: #ffffff;
}

/* ------------------------------
      footer
------------------------------- */
.footer {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #4d5ad1;
}

.footer-col {
    margin-top: 0;
}

.footer-col p {
    color: #808291;
    font-weight: 500;
    font-size: 0.88889rem;
}

.footer-col h4 {
    color: #080809;
    font-weight: 700;
    font-size: 1.265rem;
    margin-top: 0;
}
.footer-col ul {
    padding-left: 0;
    list-style: none;
}

.footer-col li {
    margin-bottom: 0.5rem;
}

.footer-col li a {
    color: #7a7e99;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
}

.social-icons {
    display: flex;
    margin-bottom: 1.8rem;
}

.social-icons-item {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    background: #ffffff;
    margin-right: 1.8rem;
    box-shadow: 0 2px 10px 0 rgba(0 0 0 / 10%);
    border-radius: 50%;
    align-items: center;
    color: #080809;
    transition: all 0.2s ease-in-out;
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    font-size: 0.875rem;
}

.social-icons-item:hover{
    background: #a83f3f;
    color: #ffffff;
}

.footer-app {
    color: #5e6282;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.26rem;
}

.end-text p {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: black;
    font-weight: 500;
    font-size: 0.888rem;
    margin-bottom: 0;
    margin-top: 0;
    background-color: orange;
}